* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
/tests export-ignore
/doc export-ignore
/docs export-ignore
/docs-test-import export-ignore
/build export-ignore
/scripts export-ignore
/phpunit.xml export-ignore
/phpstan.neon export-ignore
/rector.php export-ignore
/Makefile export-ignore
