openapi: 3.1.0
info:
  title: 'Statyba eCommerce Catalog API'
  description: "Public catalogue endpoints that expose searchable and paginated product listings.\nResponses are contract-wrapped and aligned with the v1 product contract used across the storefront.\n"
  version: 1.0.0
servers:
  -
    url: 'https://prus.dev'
    description: 'Production storefront'
  -
    url: 'http://localhost'
    description: 'Local development'
paths:
  /products/search:
    get:
      operationId: searchProducts
      tags:
        - Catalog
      summary: 'Search visible catalogue products by keyword.'
      parameters:
        -
          name: q
          in: query
          description: 'Free-text search query applied to product name, description and SKU fields.'
          schema:
            type: string
        -
          name: limit
          in: query
          description: 'Maximum number of results to return (capped at 50).'
          schema:
            type: integer
            minimum: 1
            maximum: 50
      responses:
        200:
          description: 'A collection of products that match the provided query.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductSearchResponse'
  /products/catalog:
    get:
      operationId: listCatalogProducts
      tags:
        - Catalog
      summary: 'Retrieve the paginated product catalogue with optional filters and sorting.'
      parameters:
        -
          name: category
          in: query
          description: 'Filter results to products assigned to the provided category slug.'
          schema:
            type: string
        -
          name: brand
          in: query
          description: 'Filter results to products belonging to the provided brand slug.'
          schema:
            type: string
        -
          name: page
          in: query
          description: 'The page number to retrieve (defaults to 1).'
          schema:
            type: integer
            minimum: 1
        -
          name: per_page
          in: query
          description: 'Number of products per page (defaults to 20, maximum 100).'
          schema:
            type: integer
            minimum: 1
            maximum: 100
        -
          name: sort
          in: query
          description: "Comma-delimited sort definition where each segment is a sortable key.\nPrefix a key with ``-`` to request descending order. Supported keys: ``name``, ``price``, ``created_at``.\n"
          schema:
            type: string
      responses:
        200:
          description: 'The catalogue page containing matching products.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductCatalogResponse'
components:
  schemas:
    ProductSearchResponse:
      type: object
      additionalProperties: false
      required:
        - contract
        - version
        - data
        - meta
      properties:
        contract:
          type: string
          const: product
        version:
          type: string
          pattern: '^v1(\.\d+)?$'
        data:
          $ref: '#/components/schemas/ProductSearchData'
        meta:
          $ref: '#/components/schemas/ProductSearchMeta'
    ProductCatalogResponse:
      type: object
      additionalProperties: false
      required:
        - contract
        - version
        - data
        - meta
      properties:
        contract:
          type: string
          const: product
        version:
          type: string
          pattern: '^v1(\.\d+)?$'
        data:
          $ref: '#/components/schemas/ProductCatalogData'
        meta:
          $ref: '#/components/schemas/ProductCatalogMeta'
    ProductSearchData:
      type: object
      additionalProperties: false
      required:
        - items
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Product'
    ProductCatalogData:
      type: object
      additionalProperties: false
      required:
        - items
        - pagination
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Product'
        pagination:
          $ref: '#/components/schemas/Pagination'
    ProductSearchMeta:
      type: object
      additionalProperties: true
      required:
        - generated_at
        - query
        - total
        - limit
      properties:
        generated_at:
          type: string
          format: date-time
        query:
          type: string
        total:
          type: integer
          minimum: 0
        limit:
          type: integer
          minimum: 1
    ProductCatalogMeta:
      type: object
      additionalProperties: true
      required:
        - generated_at
        - total
        - limit
      properties:
        generated_at:
          type: string
          format: date-time
        total:
          type: integer
          minimum: 0
        limit:
          type: integer
          minimum: 1
        query:
          description: 'Optional future filters snapshot when present in the response.'
          type: object
          additionalProperties: true
        pagination:
          description: 'Optional pagination metadata when exposed by future iterations.'
          $ref: '#/components/schemas/PaginationMeta'
    Product:
      type: object
      additionalProperties: false
      required:
        - id
        - slug
        - name
        - sku
        - pricing
        - inventory
        - status
        - links
      properties:
        id:
          type: integer
        slug:
          type: string
        name:
          type: string
        sku:
          type: string
        description:
          type:
            - string
            - 'null'
        short_description:
          type:
            - string
            - 'null'
        pricing:
          $ref: '#/components/schemas/ProductPricing'
        brand:
          anyOf:
            -
              $ref: '#/components/schemas/BrandSummary'
            -
              type: 'null'
        category:
          anyOf:
            -
              $ref: '#/components/schemas/CategorySummary'
            -
              type: 'null'
        media:
          type: object
          additionalProperties: false
          properties:
            images:
              type: array
              items:
                $ref: '#/components/schemas/ProductImage'
        variants:
          type: array
          items:
            $ref: '#/components/schemas/ProductVariant'
        inventory:
          type: object
          additionalProperties: false
          required:
            - manage_stock
            - stock_quantity
            - is_in_stock
          properties:
            manage_stock:
              type: boolean
            stock_quantity:
              type:
                - integer
                - 'null'
            is_in_stock:
              type: boolean
        status:
          type: object
          additionalProperties: false
          required:
            - is_visible
            - is_featured
          properties:
            is_visible:
              type: boolean
            is_featured:
              type: boolean
        links:
          type: object
          additionalProperties: false
          required:
            - self
          properties:
            self:
              type: string
              format: uri
    ProductPricing:
      type: object
      additionalProperties: false
      required:
        - amount
        - currency
      properties:
        amount:
          type: number
        currency:
          type: string
          minLength: 3
          maxLength: 3
        sale_amount:
          type:
            - number
            - 'null'
    ProductImage:
      type: object
      additionalProperties: false
      required:
        - url
      properties:
        url:
          type: string
          format: uri
        thumbnail:
          description: 'Thumbnails are nullable when no conversion has been generated yet.'
          anyOf:
            -
              type: string
              format: uri
            -
              type: 'null'
        alt:
          description: 'Optional alt text bubbled from media custom properties.'
          type:
            - string
            - 'null'
    ProductVariant:
      type: object
      additionalProperties: false
      required:
        - id
        - name
        - sku
        - price
        - stock_quantity
      properties:
        id:
          type: integer
        name:
          type: string
        sku:
          type: string
        price:
          type: number
        stock_quantity:
          type:
            - integer
            - 'null'
    BrandSummary:
      type: object
      additionalProperties: false
      required:
        - id
        - name
        - slug
      properties:
        id:
          type: integer
        name:
          type: string
        slug:
          type: string
    CategorySummary:
      type: object
      additionalProperties: false
      required:
        - id
        - name
        - slug
      properties:
        id:
          type: integer
        name:
          type: string
        slug:
          type: string
    AppliedSort:
      type: object
      additionalProperties: false
      required:
        - key
        - direction
      properties:
        key:
          type: string
        direction:
          type: string
          enum:
            - asc
            - desc
    Pagination:
      type: object
      additionalProperties: false
      required:
        - current_page
        - last_page
        - per_page
        - total
      properties:
        current_page:
          type: integer
          minimum: 1
        last_page:
          type: integer
          minimum: 1
        per_page:
          type: integer
          minimum: 1
        total:
          type: integer
          minimum: 0
    PaginationMeta:
      type: object
      additionalProperties: false
      required:
        - current_page
        - last_page
        - per_page
        - total
        - from
        - to
      properties:
        current_page:
          type: integer
          minimum: 1
        last_page:
          type: integer
          minimum: 1
        per_page:
          type: integer
          minimum: 1
        total:
          type: integer
          minimum: 0
        from:
          type:
            - integer
            - 'null'
        to:
          type:
            - integer
            - 'null'
